html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.threeD{
    width: 100%;
    height: 100%;
}
#Editor{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.8);
    color: black;
    padding: 0.25rem;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
#Editor ul {
    margin: 0 0 0 1.5rem;
    padding: 0;
}
#Editor li {
    list-style-type: square;
}
#Editor small {
    color: rgba(0,0,0,0.7);
}
#Editor li.hasChildren {
    cursor: pointer;
    list-style-type: disclosure-closed;
}
#Editor li.hasChildren > ul {
    display: none;
}
#Editor li.hasChildren.open {
    cursor: pointer;
    list-style-type: disclosure-open;
}
#Editor li.hasChildren.open > ul {
    display: block;
}
#Editor li.graphSelected {
    color: darkorange;
    font-weight: bold;
}
#Editor li.graphSelected > * {
    color: black;
    font-weight: normal;
}

#CustomShip{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: rgba(255,255,255,0.8);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}
#CustomCockpit{
    position: fixed;
    top: 320px;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: rgba(255,255,255,0.8);
    padding: 1rem;
    border-bottom-left-radius: 1rem;    
    border-top-left-radius: 1rem;    
}